@{
    ViewData["Title"] = "Anasayfa";
}

<div class="text-center">
    <h1 class="display-4">Hoş Geldiniz</h1>
    <p>Araç ve Araç Tipi Yönetimi Uygulamasına hoş geldiniz.</p>
    <p>Lütfen üstteki menüyü kullanarak ilgili bölümlere ulaşın.</p>
   
</div>