@model VehicleCardSystem.Core.Models.VehicleType

@{
    ViewData["Title"] = "Update Vehicle Type";
}

<h2 id="title" class="mb-0">@ViewData["Title"]</h2>

<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="VehicletypeId" />

            <div class="row mb-3">
                <label asp-for="Brand" class="col-sm-3 col-form-label fw-bold">Brand:</label>
                <div class="col-sm-9">
                    <input asp-for="Brand" class="form-control" />
                    <span asp-validation-for="Brand" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label asp-for="ModelName" class="col-sm-3 col-form-label fw-bold">ModelName:</label>
                <div class="col-sm-9">
                    <input asp-for="ModelName" class="form-control" />
                    <span asp-validation-for="ModelName" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label asp-for="CapacityKg" class="col-sm-3 col-form-label fw-bold">CapacityKg:</label>
                <div class="col-sm-9">
                    <input asp-for="CapacityKg" class="form-control" />
                    <span asp-validation-for="CapacityKg" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label asp-for="CapacityM3" class="col-sm-3 col-form-label fw-bold">CapacityM3:</label>
                <div class="col-sm-9">
                    <input asp-for="CapacityM3" class="form-control" />
                    <span asp-validation-for="CapacityM3" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-9 offset-sm-3">
                    <div class="form-group">
                        <button type="submit" value="Save" class="btn btn-primary">
                            <i class="fas fa-save"></i> Save 
                        </button>
                        <a asp-action="Index" class="btn btn-secondary ms-2">
                            <i class="fas fa-arrow-alt-circle-left"></i> Cancel
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

